body {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.8;
}

.bg-image {
  color: white;
  background-image: url('../images/the-flatiron-building.png');
  background-color: lightcyan;
}

header nav ul, footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer {
  color: white;
  text-align: left;
  background-color: dimgray;
}

.copyright {
  font-size: 11px;
}

footer nav ul li, footer nav ul, footer nav p{
  display: inline;
}
